$primary: #36393f;
$secondary: #2f3136;
$tertiary: #202225;
$black: #18191c;
$light-green: #3ba55d;
$white: #f2ffff;
$grey: #696b71;
$light-grey: #42474d;
$other-grey: #40444b;
$very-light-grey: #b9bbbe;
$red: #ed4245;
$light-black: #32353b;
$blue: #5865f2;